<% include ../partials/header %>

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/<%= currentCompany._id %>/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Projects</li>
    </ol>

    <!-- ========================== CONTENT =============================== -->

    <ul class="nav nav-tabs" id="projectTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-project-tab" data-toggle="tab" href="#add-project" role="tab" aria-controls="add-project" aria-selected="false">Add Project</a>
        </li>
    </ul>

    <div class="tab-content" id="projectTabContent">
        <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="projects-tab">

            <table class="table table-hover text-center table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Project number</th>
                        <th>Project name</th>
                        <th>Date created</th>
                        <th>Open</th>
                    </tr>
                </thead>
                <tbody>
                    <% projects.forEach(function(project, i){ %>
                        <td>
                            <%= i %>
                        </td>
                        <td>
                            <%= project.projectNumber %>
                        </td>
                        <td>
                            <%= project.projectName %>
                        </td>
                        <td>
                            <%= moment(project.projectCreated).calendar() %>
                        </td>
                        <td class="text-center">
                            <a href="/<%= currentCompany._id %>/project/<%= project._id %>">
                                <i class="fas fa-folder-open" aria-hidden="true"></i>
                            </a>
                        </td>
                </tbody>
                <% }); %>
            </table>
        </div>

        <div class="tab-pane fade" id="add-project" role="tabpanel" aria-labelledby="add-project-tab">

            <form class="tablist-views" action="/<%= currentCompany._id %>/project" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputProjectName">Project name</label>
                        <input type="text" class="form-control" name="project[projectName]" placeholder="Hester House" required oninvalid="this.setCustomValidity('Please enter project name.')"
                        oninput="setCustomValidity('')">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputProjectNumber">Project number</label>
                        <input type="text" class="form-control" name="project[projectNumber]" placeholder="2/5554-3" required oninvalid="this.setCustomValidity('Please enter project number.')"
                        oninput="setCustomValidity('')">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" placeholder="1234 Main St" required oninvalid="this.setCustomValidity('Please enter project address.')"
                    oninput="setCustomValidity('')">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputProjectCountry">Country</label>
                        <input type="text" class="form-control" name="project[projectCountry]" placeholder="country" required oninvalid="this.setCustomValidity('Please enter project country.')"
                        oninput="setCustomValidity('')">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputProjectCity">City</label>
                        <input type="text" class="form-control" name="project[projectCity]" placeholder="project city" required oninvalid="this.setCustomValidity('Please enter project city.')"
                        oninput="setCustomValidity('')">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputProjectZip">Zip code</label>
                        <input type="text" class="form-control" name="project[projectZip]" placeholder="project zip" required oninvalid="this.setCustomValidity('Please enter project zip.')"
                        oninput="setCustomValidity('')">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <input type="text" class="form-control" name="project[projectDescription]" placeholder="description">
                </div>

                <button type="submit" class="btn btn-primary">Submit!</button>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    </div>


    <!-- ========================== CONTENT =============================== -->


    <% include ../partials/footer %>