<% include ../partials/header %>
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/<%= currentCompany._id %>/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/<%= currentCompany._id %>/projects">Projects</a>
    </li>
    <li class="breadcrumb-item active">
      <%= project.projectName %> - <%= project.projectNumber %>
    </li>
  </ol>

  <div>
    <p><%= project.projectName %> <%= project.projectNumber %></p>
  </div>

  <ul class="nav nav-tabs" id="projectInfoTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="true">Project</a>
    </li>

    <!-- Job navs -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Job</a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" id="contract-tab" data-toggle="tab" href="#contract" role="tab" aria-controls="contract" aria-selected="false">Contract review</a>

        <a class="dropdown-item" id="project-plan-tab" data-toggle="tab" href="#project-plan" role="tab" aria-controls="project-plan" aria-selected="false">Project Plan</a>

        <a class="dropdown-item" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
      </div>
    
      <!-- Financials navs -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Financials</a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" id="costs-tab" data-toggle="tab" href="#costs" role="tab" aria-controls="costs" aria-selected="false">Costs</a>

        <a class="dropdown-item" id="time-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">Time</a>

        <a class="dropdown-item" id="expense-tab" data-toggle="tab" href="#expense" role="tab" aria-controls="expense" aria-selected="false">Expense</a>

        <a class="dropdown-item" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="false">Invoice</a>

        <a class="dropdown-item" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Payment</a>

        <a class="dropdown-item" id="writeoff-tab" data-toggle="tab" href="#writeoff" role="tab" aria-controls="writeoff" aria-selected="false">Writeoff</a>
      </div>
    </li>
  </ul>


  <div class="tab-content" id="projectInfoTabContent">
    <!-- Project tab -->
    <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="project-tab">
        <p>PROJECT</p>
    </div>

    <!-- Job tab -->
    <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="contract-tab">
        <p>CONTRACT</p>
    </div>

    <div class="tab-pane fade" id="project-plan" role="tabpanel" aria-labelledby="project-plan-tab">
      <p>PROJECT PLAN</p>
    </div>

    <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
      <p>TEAM</p>
    </div>

    <!-- Financials tab -->
    <div class="tab-pane fade" id="costs" role="tabpanel" aria-labelledby="costs-tab">
      <p>COSTS</p>
    </div>

    <div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">
      <p>TIME</p>
    </div>

    <div class="tab-pane fade" id="expense" role="tabpanel" aria-labelledby="expense-tab">
      <p>EXPENSE</p>
    </div>

    <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
      <p>INVOICE</p>
    </div>

    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
      <p>PAYMENT</p>
    </div>

    <div class="tab-pane fade" id="writeoff" role="tabpanel" aria-labelledby="writeoff-tab">
      <p>WRITEOFF</p>
    </div>
  </div>
  




  <% include ../partials/footer %>