<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active"><%= company.companyName %></li>
    <li class="breadcrumb-item active">Employees</li>
  </ol>

<div class="container" style="padding-left: 0px; padding-right: 0px">
    <header class="jumbotron">
        <h2>Latest Current Projects</h2>
        <p>Select a project to view more information</p>
    </header>
    <!-- ========================== CONTENT =============================== -->

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Joined</th>
                <th>Open</th>
            </tr>
        </thead>
        <tbody>
            <% employees.forEach(function(employee, i){ %>
                <td>
                    <%= i %>
                </td>
                <td>
                    <%= employee.firstName %> <%= employee.lastName %>
                </td>
                <td>
                    <%= employee.position %>
                </td>
                <td>
                    <%= employee.userJoined.toUTCString() %>
                </td>
                <td class="text-center">
                    <a href="/dashboard/<%= company._id %>/employee/new">
                        <i class="fas fa-folder-open" aria-hidden="true"></i>
                    </a>
                </td>
        </tbody>
        <% }); %>
            <tr id="addProject">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <strong> Add employee</strong>
                </td>
                <td>
                    <a href="/dashboard/<%= company._id %>/employee/new">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
    </table>

    <!-- ========================== CONTENT =============================== -->


    <% include ../partials/footer %>